<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="bg-gray-100">
            <div class="flex justify-center items-center mt-4 bg-gray-100">
                <div class="bg-white p-10 w-96 rounded-lg shadow-lg">
                    <form action="{{ url_for('formata_dados') }}" method="POST">
                        <h4 class="text-2xl py-2 px-4">Testar Currículo</h4>
                        <br>
                        <input class="bg-gray-100 py-2 px-4 mb-4" type="text" name="add_dados" placeholder="Experiência" required>
                        <input class="bg-gray-100 py-2 px-4 mb-4" type="text" name="add_dados" placeholder="Publicações" required>
                        <input class="bg-gray-100 py-2 px-4 mb-4" type="text" name="add_dados" placeholder="Conexões" required>
                        <br>
                        <button type="submit" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enviar</button>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                          {% if category == 'SUCESSO_1' %}
                            <!-- Exibir mensagem de sucesso -->
                            <div class="text-blue-500 font-bold">{{ message }}</div>
                          {% elif category == 'ERRO_1' %}
                            <!-- Exibir mensagem de erro -->
                            <div class="text-red-500 font-bold">{{ message }}</div>
                          {% endif %}
                        {% endfor %}
                      {% endwith %}
                    </form>
                </div>
            </div>
    </body>
</html>