<!DOCTYPE html>
<html>
<head>
    <title>Dados de Treino</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-gray-100">

    <div class="container mx-auto px-4 py-4">
        <h1 class="text-3xl font-bold text-center py-2 mb-4">Dados de Treino</h1>

        <!-- Dados de Treino -->
        <!--<h2 class="text-2xl font-bold text-center py-2 mb-4">Relatório para Líder de Facção</h2>-->
        <table id="Dados_de_Treino" class="table-auto border-collapse w-full mb-8">
            <thead>
                <tr class="bg-blue-700 text-white">
                    <th class="border border-blue-600 py-2 text-center" style="text-align: center;">Experiência</th>
                    <th class="border border-blue-600 py-2 text-center" style="text-align: center;">Publicações</th>
                    <th class="border border-blue-600 py-2 text-center" style="text-align: center;">Conexões</th>
                    <th class="border border-blue-600 py-2 text-center" style="text-align: right;">Salário</th>
                    <th class="border border-blue-600 py-2 text-center" style="text-align: center;">Qualidade</th>
                </tr>
            </thead>
            <tbody>
                {% for index,row in dados.iterrows() %}
                <tr class="bg-white">
                    <td class="border border-blue-600 py-2" style="text-align: center;">{{row['Experiência'] }}</td>
                    <td class="border border-blue-600 py-2" style="text-align: center;">{{ row['Publicações'] }}</td>
                    <td class="border border-blue-600 py-2" style="text-align: center;">{{ row['Conexões'] }}</td>
                    <td class="border border-blue-600 py-2" style="text-align: right;">{{ row['Salário'] }}</td>
                    <td class="border border-blue-600 py-2" style="text-align: center;">{{ row['Qualidade'] }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        
    </div>
</body>
</html>